
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --dark-one: #333;
    --dark-two: #7a7a7a;
    --main-color:#FF725E;
    --secondary:#ff4e37;
    --light-one: #fff;
    --light-two: #f1f1f1;
    --light-three: #f5f5f5;
   
  }

body{
    list-style-type: none;
    height: 100vh;
    
}

html { font-size: 16px; }

img {
    width: 100%;
    height: auto;
}

h1, h4, h5, h6 {
    font-weight: 800;
    color: rgba(41, 12, 78, 0.8);
}

p{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: var(--dark-two);
}











/*------- bootstrap component customize---------*/

.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #FF725E;
    border-color: rgb(255, 114, 94);
   
}

.btn:focus {
    outline: none;
    box-shadow: none;
  }
  .btn-primary.focus, .btn-primary:focus{
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}



.btn-outline-success.focus, .btn-outline-success:focus{

    -webkit-box-shadow: none!important;
    box-shadow: none!important;

}
  
.bg-light {
    background-color: #ffff!important;
    box-shadow: 0px 0px 10px #e4e4e4;
}
.navbar-brand {
    color: rgba(0,0,0,.9);
    
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #FF725E;
}

.dropdown-menu{
    box-shadow: 0px 0px 10px #e4e4e4;
    border: 0px solid rgba(0,0,0,.15);
    border-top: 2px solid #FF725E ;
   
}

.btn-outline-success {
    color: #FF725E;
    border-color:#FF725E;
}

 .sing_up{
    background-color: #FF725E;
    border-color:#FF725E;
    color: #fff;
}

.sing_up:hover{

    color: #FF725E;
    background: #fff;
    border-color:#FF725E;

}



.btn-outline-success:hover{
    background-color: #FF725E;
    border-color:#FF725E;
    color: #fff;
}

.dropdown-menu i{
    color: #FF725E;
    padding: 3px;
}

.dropdown-menu.show {
    display: flex;
}


/*--------------navbar-------------------*/


.nav-toggler{
	height: 34px;
	width: 44px;
	background-color: #FF725E;
	border-radius: 4px;
	cursor: pointer;
	border:none;
	display: none;
	margin-right: 15px;
}
.nav-toggler:focus{
	outline: none;
	box-shadow: 0 0 15px rgba(255,255,255,0.5);
}
.nav-toggler span{
    height: 2px;
    width: 20px;
    background-color: #fff;
    display: block;
    margin:auto;
    position: relative;
    transition: all 0.3s ease;
}
.nav-toggler.active span{
	background-color: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	transition: all 0.3s ease;
}
.nav-toggler span::before{
	transform: translateY(-6px);
}
.nav-toggler.active span::before{
	transform: rotate(45deg);
}
.nav-toggler span::after{
	transform: translateY(6px);
}
.nav-toggler.active span::after{
	transform: rotate(135deg);
}

.dropdown-item.active, .dropdown-item:active {
    color: #000;
    background-color: #fff;
    text-decoration: none;
}

.dropdown-item.hover, .dropdown-item:hover{
    background-color: #fff;
    color: #FF725E;
}

.logo { padding: 15px; }

#logo {
    height: 2.5rem;
    width: auto;
}


/*----------------main content--------------------*/
section {
    padding: 7rem 0;
    overflow: hidden;
  }



.heading span{
    color: var(--main-color);
    font-weight: 600;
}

.content{
  background: #fff;

}



/*-------------icons----------------*/

.drop i{
    font-size: 7rem;
}

.drop i{
    color: var(--light-three);
}

.wrapper_icon{
    display: inline-flex;
}

.wrapper_icon .icon{
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
   
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);

}

.wrapper_icon .icon span{
    position: relative;
    height: 45px;
    width: 45px;
    display: block;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.check_back{

    height: 100px;
    width: 100px;

}



.wrapper_icon .icon:hover span {
    color: #fff;
}
.wrapper_icon .icon span i{
    font-size: 20px;
    line-height: 45px;
}

.wrapper_icon .icon .tooltip{
    position: absolute;
    bottom: 0px;
    background: #fff;
    color: #fff;
    font-size: 14px;
    padding: 10px 18px;
    border-radius: 25px;
    width: 170px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
    text-align: center;
}

.wrapper_icon .icon:hover .tooltip{
    bottom: -52px;
    opacity: 1;
    pointer-events: auto;
}

.wrapper_icon .icon .tooltip::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);

}

.wrapper_icon .icon:hover span,
.wrapper_icon .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.wrapper_icon .google:hover span,
.wrapper_icon .google:hover .tooltip,
.wrapper_icon .google:hover .tooltip::before{
    background: #ea4335;
}

.wrapper_icon .dropBox:hover span,
.wrapper_icon .dropBox:hover .tooltip,
.wrapper_icon .dropBox:hover .tooltip::before{
    background: #0062ff;
}

.wrapper_icon .check{
    color: #00c06d;
}

.wrapper_icon .check:hover span

{
    background: #00c06d;
}
.wrapper_icon .check:hover .tooltip,
.wrapper_icon .check:hover .tooltip::before{
    color: #00c06d;
}

.wrapper_icon .link:hover span,
.wrapper_icon .link:hover .tooltip,
.wrapper_icon .link:hover .tooltip::before{
    background: #000;
}









/*--------------uploader---------------*/
.upload{
    max-width: 500px;
    height: 300px;    
    background:var(--light-one);
    box-shadow: 0px 0px 10px #e4e4e4;
    border-radius: 5px;
}
.upload p{
    color: var(--dark-one);
    font-size: 16px;
    
   
}

/*-------------------popUp Model-------------------------*/


.modal-header {

    padding: 1rem 1rem;
  
    border-bottom: 0px solid #fff; 
}
.modal-body h3{
    color: #00c06d;
    
}

.modal-body p{
    color: #7a7a7a;
    font-size: 16px;
}

 .popup_head .close_btn:hover{
	opacity: 1;
}

 .popup_foot{
	display: flex;
}

 .popup_foot .popup_btn{
	width: 50%;
	border: 0;
    margin: 10px;
    margin-bottom: 0px;
	padding: 10px;
	cursor: pointer;
}

  .popup_foot .popup_cancel_btn{
	background: #eeeeee;
}

 .popup_foot .popup_cancel_btn:hover{
	background: #d8d8d8;
}

  .popup_foot .popup_confirm_btn{
	background: #00c06d;
	color: #fff;
}

 .popup_foot .popup_confirm_btn:hover{
	background: #008e4e;
}

.active{
	display: block;
}

.pop i{
    font-size: 18px;
    border: 1px solid #000;
    opacity: .1;
    padding: 10px;
    border-radius: 50%;
}

.pop i:hover{
    opacity: 1;
}
/*-----------------------footer-----------------*/
.footer{
    padding: 40px 0;
    background-color: #f7f7f7;
}

.language {
    position: relative;
    padding: 24px 0px;
    
}

#language {
    outline: none;
    border: none;
    background: none;
}

.footer .social{
    text-align: center;
    padding-bottom: 10px;
    color: #4b4c4d;
}
.footer .social a{
    font-size:24px ;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover{
    opacity: 0.9;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover{
    opacity: 1;
}

.footer .copyright{
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}


