

@media screen and (max-width: 400px){
    .wrapper_icon .icon span i{
        font-size: 16px;
        line-height: 40px;
    }


    .wrapper_icon .icon{
        margin: 0 7px;
        margin-top: 20px;
        
    }
    .wrapper_icon .icon span{
       
        height: 40px;
        width: 40px;
       
    }

}

@media screen and (max-width: 674px){

   
    
    .dropdown-menu.show {
        display: flex;
        flex-direction: column;
    }
}






@media(max-width:991px){
    .nav-toggler{
        display: block;
    }
   
 }