@import url('bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('common.css');
@import url('common-responsive.css');


/*----------formate Menubar----------*/

.menubar{
    position: absolute;
    top:-2px;
    right: 0%;
    background: transparent;
     width: 250px;
     height: 30px;
    line-height: 40px;
    padding: 8px 25px;
    border-radius: 5px;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
    z-index: 100;
   
}

.menubar label{
    color:#000;
    font-size: 22px;
    font-weight: 500;
    display: block;
    cursor: pointer;

}

.menubar label .drop_icon{
    position: relative;
    height: 40px;
    width: 40px;
    display: block;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    
   
}

.drop_btn span{
    float: right;
    line-height: 43px;
}

.menubar ul{
    position: absolute;
    background: #f7f7f7;
    list-style: none;
    top: 60px;
    right: -25px;
    width: 100%;
    border-radius: 5px;
    display: none;
   


}

[id^=btn]:checked + ul{
    display: block;
}

.menubar ul li{
    line-height: 40px;
    padding: 4px 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   

}

.menubar ul li label{
    font-size: 15px;
   text-align: center;
}

.menubar ul li a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.menubar ul li :hover
{
    color: #f16717;
}

.menubar .menu::before{
    position: absolute;
    content: '';
    height: 17px;
    width: 17px;
    background: #f5f5f5;
    right: 60px;
    top:-7px;
    transform: rotate(45deg);
    z-index: -1;


}

.menubar ol, ul {
    padding-left: 0rem !important;
}

input{
    display: none;
}




