@import url('bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('common.css');
@import url('common-responsive.css');





/*--------------compresser---------------*/



.image_container{
    height: 160px;
    width: auto;
    border-radius: 6px;
    overflow: hidden;
    margin-right: 10px;
    margin-top: 10px;

}

.image_container img{
    height: 100%;
    width: auto;
    object-fit: cover;
}

.image_container span{
    top:-6px;
    right: 8px;
    color: red;
    font-size: 28px;
    font-weight: normal;
    cursor: pointer;
}

.card-header {
  
    border-bottom: 0px solid rgba(0,0,0,.125);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.btn-primary {
    color: #fff;
    background-color: #ff725e;
    border-color: #ff725e;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ff725e;
    border-color: #ff725e;
}

.btn-primary.active {
    color: #fff;
    background-color: #ff725e;
    border-color: #ff725e;
}

.bg-danger {
    background-color: #ffff!important;
    color: #ff725e;
}



